<div *ngIf="isLoading && !displayError" id="loading">Retrieving planetary information...</div>
<div *ngIf="planets && !isLoading && !displayError; else errorMessage">
  <table>
    <tr>
      <th>Name</th>
      <th>Climate</th>
      <th># of Residents</th>
      <th>Terrain(s)</th>
      <th>Population</th>
      <th>Surface Area Cover By Water (sq. km)</th>
    </tr>
    <ng-container *ngFor="let planet of planets">
      <tr>
        <td>{{planet.name}}</td>
        <td>{{planet.climate}}</td>
        <!-- TODO: check for null pointer on residents -->
        <td>{{planet.residents.length}}</td> 
        <td>{{planet.terrain}}</td>
        <td>{{planet.population}}</td>
        <td>{{planet.surface_water}}</td>
      </tr>
    </ng-container>
  </table>
</div>
<ng-template #errorMessage> 
  <div id="errorMessage">Moff Gideon has intercepted your request!</div>
</ng-template>